@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #e5ebff;
  font-family: 'Rubik', sans-serif;
}

nav {
  width: 210px;
  background-color: #44689d;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-weight: 400;
}

.logo {
  padding: 20px;
  margin-left: 34px;
}

.logo img {
  width: 80px;
  border-radius: 2px;
}

.container {
  margin-left: 210px; /* Adjust the margin to match the width of the navigation bar */
  padding: 20px;
  margin-top: -24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid grey;
  background-color: #fff;
}

th {
  background-color: #305573;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

tr:hover {
  background-color: #eeeeee;
}

#update {
  background-color: #53ba56;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

#delete {
  background-color: rgb(224, 5, 5);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid grey;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  color: #305573;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #305573;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #305573;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.register-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.register-button a {
  display: inline-block;
  padding: 10px 30px;
  background: #2b2e30;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  margin-left: 50%;
  font-weight: normal;
  margin-top: 30px;
  font-size: 1.6em;
}

/* Responsive Styles */

@media (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: static;
    background-color: #44689d;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .logo {
    text-align: center;
    margin-left: 0;
  }

  .container {
    margin-left: 0;
  }
  
  .header-container h2 {
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  nav ul li a {
    padding: 10px;
  }

  .logo img {
    width: 60px;
  }
  
  table {
    font-size: 12px;
  }
  
  th,
  td {
    padding: 6px;
  }
  
  .pagination a {
    padding: 6px 12px;
  }
}


