@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h3,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: FFFFFF;
}

.nav {
  overflow: hidden;
  background-color: #fefefe;
}

.nav a {
  float: right;
  color: #1e1e1e;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ff1d1d;
}

.nav img {
  float: left;
  max-width: 50px;
  height: auto;
  display: block;
  padding: 12px 20px;
  margin: auto;
}

/*packages start*/

.block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 250px;
  height: auto;
  margin: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 30px;
  border-radius: 6px;
}

.box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.box h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: -12px;
  text-align: left;
}

.box p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  margin-top: 12px;
  color: #494949;
}

.box a {
  padding: 10px 20px;
  background-color: #ffeee3;
  color: #bf6232;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.box a:hover {
  background-color: #ff8243;
  color: #ffffff;
}

/* .foot1 */
.foot1 {
  background-color: #fff;
  margin-top: 50px;
  padding: 2px;
  text-align: center;
  color: black;
}
/*footer end*/

/* Responsive Styles */

/* Small screens */
@media (max-width: 768px) {
  /* Navigation Bar */
  .nav a {
    float: none;
    display: block;
    text-align: center;
  }

  .nav img {
    float: none;
    margin: 0 auto;
  }

  /* Headings */
  h1 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 1.25rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  /* .block */
  .block {
    margin: 0 10px;
  }

  /* .box */
  .box {
    width: 100%;
    height: auto;
    margin: 10px 10px;
    padding: 20px;
  }

  /* .foot1 */
  .foot1 {
    margin-top: 30px;
  }
}

/* Big screens */
@media (min-width: 769px) {
  /* Navigation Bar */
  .nav a {
    padding: 20px 20px;
    font-size: 16px;
  }

  .nav img {
    max-width: 50px;
    padding: 12px 20px;
  }

  /* Headings */
  h1 {
    font-size: 2rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  /* .block */
  .block {
    margin: 0 20px;
  }

  /* .box */
  .box {
    width: 250px;
    height: auto;
    margin: 0 20px;
    padding: 50px;
  }

  /* .foot1 */
  .foot1 {
    margin-top: 50px;
  }
}
