/* Default styles */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  background: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.logo img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #060708;
}

form {
  display: flex;
  flex-direction: column;
  height: 55%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  width: 450px;
  border: 1px solid #000000;
}

a {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #fa643b;
}

button {
  padding: 10px 30px;
  background: #2b2e30;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  max-width: 500px;
}

.signup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup p {
  margin-bottom: 10px;
  color: #2c3e50;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

#forgot {
  display: block;
  margin-top: -10px;
  margin-bottom: 2px;
  margin-left: 360px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

#forgot:hover {
  color: #fa643b; /* Set the hover text color to white */
}

.success-message {
  color: green;
  margin-bottom: 10px;
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 20px;
  margin-top: -10px;
  font-weight: 600;
}

/* Media Queries for Responsive Design */

/* Small screens */
@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column; /* Stack the left and right sections vertically */
    height: auto; /* Adjust the height to fit the content */
  }

  .left {
    padding: 20px; /* Add padding for spacing */
  }

  .logo img {
    width: 120px; /* Adjust the size of the logo for small screens */
    height: 120px;
  }

  .right {
    padding: 20px; /* Add padding for spacing */
  }

  form {
    height: auto; /* Adjust the height to fit the content */
    width: 90%;
  }

  input {
    width: 90%; /* Make the input fields full width */
  }
}

/* Large screens */
@media only screen and (min-width: 992px) {
  .container {
    height: 100vh;
  }

  .left {
    flex: 1;
  }

  .logo img {
    width: 180px;
    height: 180px;
  }

  .right {
    flex: 1;
    padding: 40px;
  }
}
